@media screen and (max-width: 600px) {
    .topnav ul li {
      display: none;
    }     
    .topnav.responsive {
      position: absolute;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive ul li {
      float: none;
      display: inline-flex; /*inline-flex/block*/
      text-align: left;
    }
  }    

  @media screen and (min-width: 600px) {
    .dropdown-menu {
      background-color: #333;    
      display:none;  
    }
  
    .dropdown-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;    
    }
  
    .dropdown-menu li a {
      display: inline-flex;
      color: #f2f2f2;
      text-align: left;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;    
    } 
  }  

  @media screen and (max-width: 600px) {
    .dropdown-menu {
      background-color: #333;      
    }
  
    .dropdown-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;    
    }
  
    .dropdown-menu li a {
      display: inline-flex;
      width: fit-content;
      color: #f2f2f2;
      text-align: left;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;    
    } 

    .btn-dropdown {
      margin-bottom: 1rem;
      margin-left: 1rem;  
      margin-top: 1rem;    
      background-color: var(--light-ash);
      border-color: var(--gray-blue);
      color: var(--gray-blue);      
    }

    .btn-login-mini {
      margin-bottom: 1rem;
      margin-left: 1rem;  
      margin-top: 1rem;    
      background-color: var(--light-ash);
      border-color: var(--gray-blue);
      color: var(--gray-blue);
      margin-right: 1rem;
      float: right;
    } 
  } 

  @media screen and (max-width: 600px) {
    .topnav {
      display: none;
    }      
  }    
    
  .topnav {
    background-color: #333;
    overflow: hidden;
    padding-bottom: 1rem;
  }  
   
  .topnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .topnav li {
    float: left;
  }
  
  .topnav li a {
    display: inline-flex;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } 
  
  .topnav li:hover {
    background-color:var(--light-ash);
    color: black;
  }  
 
  .btn-login-navbar {
    font-weight: 700;
    border-radius: 0.25rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: var(--white);    
    border: 1px solid var(--gray-blue);
    background-color: var(--gray-blue);
    transition: ease-in-out 0.5s;
    float: right;
    margin: 5px;
    margin-top: 1rem;
    margin-right: 1rem;
  }  
  
  