.side-menu-container {
    display: flex;
    width: 10vw;
    height: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--off-white);
    font-size: 1rem;
  }
  
  .side-menu-container h2 {
    margin: 2rem 0;
    color: var(--dark-ash);
  }
  
  .side-menu-container a {
    width: 100%;
    text-align: center;
    color: var(--dark-ash);
    transition: ease-in-out 0.5s;
    padding: 1rem 0;
    text-decoration: none;
  }
  
  .side-menu-container a:hover {
    opacity: 0.7;
    color: var(#CCCCCC);
    background-color: var(--highlight);
    text-decoration: none;
  }
  
  .side-menu-container a:focus {
    text-decoration: none;
  }
  
  .side-menu-container .selected {
    color: var(--charcoal);
    background-color: var(--light-ash);
  }
  
  #exit-dashboard {
    margin-top: 2rem;
  }

  @media screen and (max-width: 1200px) {
    .side-menu-container {      
      width: fit-content; 
      padding-left: 1rem;
      padding-right: 1rem;    
    }   
  } 
  