#root {    
    margin: 0 auto;
    padding: 0rem;
    text-align: left;
}

h1 {
    text-align: center;
}

.about-paragraph{
    padding: 1rem;
}

.google-map{
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .about-paragraph {
	font-size: small;
	text-align: left;      
}
