.footer-nav {
  display: flex;
  justify-content: space-evenly;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

footer {
  margin-left: 0% !important;
  padding: 5rem 6rem;
  color: var(--white);
  background-color: #333;    
  width: 100%;
  margin-left: 4.5rem;
  box-sizing:border-box;
}

.brandname {
  margin-bottom: 0.1%;
  color: var(--light-ash);
}

.contactinfo {
  margin-bottom: 0%;
  margin-right: 0.5rem;
}  

.h4-contact {
  margin-bottom: 0.1%;
}

hr {
  margin: 2rem 0;
  border: 1px solid var(--white);
  opacity: 0.05;
}

.footer-row {
  margin-left: 10%;
  margin-right:10%;    
  display: flex;
  justify-content: space-between;
  align-items: center;    
}

.footer-bottom-row {       
  margin-right:10%;
  max-height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;    
}

footer ul {
  display: flex;
  list-style-type: none;
  padding: 0;

  li:not(:last-of-type) {
    margin-right: 1rem;
  }
}

footer h1,
footer h4 {
  margin-bottom: 1rem;
}

footer a {
  text-decoration: none;
  color: #a5c4ce;;
  transition: ease-in-out 0.5s;
}

footer a:hover {
  opacity: 0.5;
  color: #a5c4ce;;
  text-decoration: none;
}

footer .fa-solid {
  margin-right: 0.5rem;
}

.footer-icon {
  transition: 0.5s;
  cursor: pointer;
}

.footer-icon:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .footer-nav {
    font-size: small;
  } 
  .footer-bottom-row {
    font-size: small;
  }      
} 