#root {    
    margin: 0 auto;
    padding: 0rem;
    text-align: left;    
  }
  
  .support-h1 {
    text-align: center;
  }
  
  .support-paragraph {
    text-align: center;    
  }
  
  #support .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  #support .container {
    padding: 8rem 4rem;    
  }
  
  #support .img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1722973893238-b4de0300f4f0?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
  
  @media screen and (max-width: 600px) {      
    .support-paragraph {
      padding-left: 0.1rem;
      padding-right: 0.1rem;     
      font-size: small;
      text-align: left;
    }
  
    #support .container {
      padding: 3rem 1rem;    
    }
  
    .support-h1 {
      padding-left: 0.1rem;
      padding-right: 0.1rem;
      text-align: left;
    }
  }