#root {    
  margin: 0 auto;
  padding: 0rem;
  text-align: left;    
}

.not-found-h1 {
  text-align: center;
}

.not-found-paragraph {
  text-align: center;    
}

#not-found .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#not-found .container {
  padding: 8rem 4rem;    
}

#not-found .img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1726247419938-a8980d9fa429?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

@media screen and (max-width: 600px) {      
  .not-found-paragraph {
    padding-left: 1rem; 
    padding-right: 1rem;     
    font-size: small;
    text-align: left;
  }

  #not-found .container {
    padding: 4rem 2rem;    
  }

  .not-found-h1 {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }
}