#keywords {
  background-image: url('../../assets/images/search_icon.svg'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  /*width: 17.5rem;*/ /*five search fields*/
  width: 22.22rem; /*four search fields*/
  min-width: fit-content;  
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  border-radius: 5px !important;
  margin-right: 1rem;
}

.input {
  margin: 0 1rem 1rem 0;
}

.input::placeholder {
  font-size: smaller;
}

.hr-style {
  height: 5px;
  background-color: #073b4c;
  border-color: #073b4c;
  box-shadow: '1px 3px 1px #9E9E9E';
  border-radius: 5px;
  border: 2px;
}

.search-section{
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  table tr th {
      font-size: small;               
    }         
}

table {
  width: 100%;  
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
}

table th {
  color:var(--light-ash);
}

.table th:first-of-type {
  border-radius: 0.5rem 0 0 0;
}

.table th:last-of-type {
  border-radius: 0 0.5rem 0 0;
}

.table tr:last-child td:first-child {
  border-radius: 0 0 0 0.5rem;
}

.table tr:last-child td:last-child {
  border-radius: 0 0 0.5rem 0;
}

.table th,
.table td {
  padding: 0.5rem;
  border: none; /* Remove any borders */
}

.table tr:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table tbody tr:hover {
  background-color: rgb(250, 250, 250);
}

/*table tr th {
  text-align: left;
  background: var(--light-ash);
  color: white;
}*/

.table-container {
  padding-bottom: 3rem;
  display: flex;  
}

.tr-font {
  font-style: italic;
}

.centered {
  text-align: center;
}

.search-results {  
  padding-left: 1rem;
}



